[Desktop Entry]
Version=1.0
Name=BatteryCharge
Comment=Charges the battery to a higher percentage
Exec=sudo </path/to/file>
Terminal=false
Type=Application
Categories=Utility;
