[Desktop Entry]
Version=1.0
Name=BatteryCharge
Comment=Charges the battery to a higher percentage
Exec=pkexec {EXEC_PATH}
Terminal=true
Type=Application
Categories=Utility;
